<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script type="text/javascript" src="/javascripts/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="/javascripts/underscore.js"></script>
    <script type="text/javascript" src="/javascripts/backbone.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
