<h1>{{title}}</h1>
<div>
  <form action= '/' method="post">
    <h2>Log In</h2>
    Username
    <br><input id='userInput'></input> <br>
    Password
    <br><input type='password' id='passInput'></input> <br>
    <input type='submit' value='Log In' id='loginBtn'>
  </form>
</div>
<div>
  <form action= '/' method="post">
    <h2> Become a Warbler </h2>
    Username
    <br><input id='userInput'></input> <br>
    Password
    <br><input type='password' id='passInput'></input> <br>
    <input type='submit' value='Register' id='registerBtn'>
  </form>
</div>
